.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.white-background {
    /* bg-body-tertiary */
    /* background-color: rgb(248, 249, 250); */
    /* background-color: rgb(233, 236, 239); */

    background-color: #faf9f6;
}

.skill-card  {
    /* background-color: #faf9f6; */
    background-color: rgb(248, 249, 250);
    /* background-color: rgb(233, 236, 239); */
    flex-grow: 0;
    flex-shrink: 0;

}

.skill-card > svg {
    flex-shrink: 0;
    min-width: 60px;
    max-width: 60px;
}

.icon-img {
    width: 80px;
    padding-top: 10px;
}

@media (min-width: 481px) and (max-width: 1200px) {
    
}